.idea/*
.DS_Store
rl_trainer/.DS_Store
rl_trainer/models/.DS_Store
rl_trainer/models/olympics-running/.DS_Store
rl_trainer/models/olympics-running/ppo/.DS_Store
rl_trainer/algo/__pycache__/*
rl_trainer/models/olympics-running/ppo/
.idea/misc.xml
.idea/OlympicsProject.iml
*.xml
*.iml
~$*.xlsx
rl_trainer/algo/__pycache__/ppo.cpython-36.pyc
olympics/__pycache__/*.pyc
rl_trainer/__pycache__/*.pyc
env/simulators/__pycache__/*.pyc
env/__pycache__/*.pyc